<!-- Top level template for the chat page -->
<template name="chat_page">
	{{#if currentUser}}
	<div class="row">
		<div class="col-xs-12">
			<h2>You're talking to {{other_user}}</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{{#if noMessages}}
			<div class="well well-lg">
				<h3><em>Please, write your message below.</em></h3>
			</div>
			{{else}}
			<div class="well well-lg">
				{{#each messages}}
				{{> chat_message}}
				{{/each}}
			</div>
			{{/if}}
		</div>
	</div>
    <div class="row">
		<div class="col-md-12">
			<form class="js-send-chat">
			<input class="input" type="text" name="chat" placeholder="type a message here...">
			<button class="btn btn-default">send</button>
		</form>
		</div>
	</div>
	{{else}}
	<div class="row">
		<h3><em>No user logged in!</em></h3>
	</div>
	{{/if}}
</template>

<!-- simple template that displays a message -->
<template name="chat_message">
	{{#if ownMessage userId}}
		<div class="row">
		<div class="col-xs-11">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-12">
							{{username userId}} said:
						</div>
					</div>
				</div>
				<div class="panel-body">
					{{#each lines}}
						<p>{{{parseEmoticons text}}}</p>
					{{/each}}
				</div>
			</div>
		</div>
		<div class="col-xs-1">
			<img class="avatar100" src="/{{avatar userId}}"/>
		</div>		
	</div>
	{{else}}
	<div class="row">
		<div class="col-xs-1">
			<img class="avatar100" src="/{{avatar userId}}"/>
		</div>
		<div class="col-xs-11">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-12">
							{{username userId}} said:
						</div>
					</div>
				</div>
				<div class="panel-body">
					{{#each lines}}
						<p>{{{parseEmoticons text}}}</p>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
	{{/if}}
</template>