<!-- Top level template for the chat page -->
<template name="chat_page">
	{{#if currentUser}}
	<div class="row">
		<div class="col-xs-12">
			<h2>You're talking to {{other_user}}</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{{#if noMessages}}
			<div class="well well-lg">
				<h3><em>Please, write your message below.</em></h3>
			</div>
			{{else}}
			<div class="well well-lg">
				{{#each messages}}
				{{> chat_message}}
				{{/each}}
			</div>
			{{/if}}
		</div>
	</div>
    <div class="row">
		<div class="col-md-12">
			<form class="form-inline js-send-chat">
				<div class="form-group">
					<label for="text">Message:</label>
					<input class="form-control" type="text" name="chat" placeholder="type a message here...">
				</div>
				<button class="btn btn-primary">send</button>
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
			  		See Available Emoticons
				</button>
				{{> emoticons }}
			</form>
		</div>
	</div>
	{{else}}
	<div class="row">
		<h3><em>No user logged in!</em></h3>
	</div>
	{{/if}}
</template>

<!-- simple template that displays a message -->
<template name="chat_message">
	{{#if ownMessage userId}}
		<div class="row">
		<div class="col-xs-11">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-12">
							{{username userId}} said:
						</div>
					</div>
				</div>
				<div class="panel-body">
					{{#each lines}}
						<p>{{{parseEmoticons text}}}</p>
					{{/each}}
				</div>
			</div>
		</div>
		<div class="col-xs-1">
			<img class="avatar100" src="/{{avatar userId}}"/>
		</div>		
	</div>
	{{else}}
	<div class="row">
		<div class="col-xs-1">
			<img class="avatar100" src="/{{avatar userId}}"/>
		</div>
		<div class="col-xs-11">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-12">
							{{username userId}} said:
						</div>
					</div>
				</div>
				<div class="panel-body">
					{{#each lines}}
						<p>{{{parseEmoticons text}}}</p>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
	{{/if}}
</template>

<!-- Modal -->
<template name="emoticons">
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Available Emoticons</h4>
	      </div>
	      <div class="modal-body">
		      <div class="row">
		        <ul>
		          <div class="col-xs-12 col-sm-4">
		            <li>o_o O_O {{{parseEmoticons "o_o"}}}</li>
		            <li>:D :-D {{{parseEmoticons ":D"}}}</li>
		            <li>:) :-) =) =-) {{{parseEmoticons ":)"}}}</li>
		            <li>:( :-( {{{parseEmoticons ":("}}}</li>
		            <li>-_- {{{parseEmoticons "-_-"}}}</li>
		            <li>:P :-P {{{parseEmoticons ":P"}}}</li>
		            <li>:O :-O :o {{{parseEmoticons ":o"}}}</li>
		            <li>:smirk: {{{parseEmoticons ":smirk:"}}}</li>
		            <li>>:( :[ {{{parseEmoticons ">:("}}}</li>
		            <li>:ninja: {{{parseEmoticons ":ninja:"}}}</li>
		          </div>
		          <div class="col-xs-12 col-sm-4">
		            <li>:nerd: {{{parseEmoticons ":nerd:"}}}</li>
		            <li>:S :-S {{{parseEmoticons ":S"}}}</li>
		            <li>:bashful: {{{parseEmoticons ":bashful:"}}}</li>
		            <li>:crying: {{{parseEmoticons ":crying:"}}}</li>
		            <li>:puke: {{{parseEmoticons ":puke:"}}}</li>
		            <li>:love: {{{parseEmoticons ":love:"}}}</li>
		            <li>:devil: {{{parseEmoticons ":devil:"}}}</li>
		            <li>:angel: {{{parseEmoticons ":angel:"}}}</li>
		            <li>8) 8-) (H) {{{parseEmoticons "8)"}}}</li>
		            <li>:wtf: {{{parseEmoticons ":wtf:"}}}</li>
		          </div>
		          <div class="col-xs-12 col-sm-4">
		            <li>:sweating: {{{parseEmoticons ":sweating:"}}}</li>
		            <li>>:D {{{parseEmoticons ">:D"}}}</li>
		            <li>:spooked: {{{parseEmoticons ":spooked:"}}}</li>
		            <li>:embarrassed: {{{parseEmoticons ":embarrassed:"}}}</li>
		            <li>O.o {{{parseEmoticons "O.o"}}}</li>
		            <li>x-D {{{parseEmoticons "x-D"}}}</li>
		            <li>;) ;-) {{{parseEmoticons ";)"}}}</li>
		            <li>:\\ :-\\ {{{parseEmoticons ":\\"}}}</li>
		            <li>:beer: {{{parseEmoticons ":beer:"}}}</li>
		            <li>:poop: {{{parseEmoticons ":poop:"}}}</li>
		          </div>
		        </ul>
		      </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
</template>