<!-- Top level template for the chat page -->
<template name="chat_page">
	<div class="row">
		<div class="col-md-2">
			<img class="avatar_img" src="/{{ava1}}"/>
		</div>
		<div class="col-md-8">
			<h2>You're talking to {{other_user}}</h2>
		</div>
		<div class="col-md-2 text-right">
			<img class="avatar_img" src="/{{ava2}}"/>
		</div>
		
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="well well-lg">
			{{#each messages}}
			{{> chat_message}}
			{{/each}}
			</div>	
		</div>
	</div>
    <div class="row">
		<div class="col-md-12">
			<form class="js-send-chat">
			<input class="input" type="text" name="chat" placeholder="type a message here...">
			<button class="btn btn-default">send</button>
		</form>
		</div>
	</div>
</template>

<!-- simple template that displays a message -->
<template name="chat_message">
	{{username userId}} said: {{text}}
	{{sentOn}}
	<br>
</template>