<!-- Top level template for the lobby page -->
<template name="lobby_page">
    {{#if currentUser}}
	{{> available_user_list}}
	{{else}}
	<h2><em>Please login to see the available users.</em></h2>
      <h3>List of test users for easy copy/pasting:</h3>
      <ul>
        <li>user1@test.com - test123</li>
        <li>user2@test.com - test123</li>
        <li>user3@test.com - test123</li>
        <li>user4@test.com - test123</li>
        <li>user5@test.com - test123</li>
        <li>user6@test.com - test123</li>
        <li>user7@test.com - test123</li>
        <li>user8@test.com - test123</li>
      </ul>
	{{/if}}
</template>